.col-sm-6{
  padding-left: 0;
  padding-right: 0;
}
.row{
  padding-left: 0;
  padding-right: 0;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
text{
  font-size: 8px;
}
.legend line {
  stroke: #000;
  shape-rendering: crispEdges;
}
g[class~=focus-highlight]{
  stroke: #000;
}
.Date:hover {
  stroke: #000;
}
.bar:hover {
	stroke:#000;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#outer-div{
	position:absolute;
	top:50px;
	left:5px;
	right:5px;
	bottom: 5px;
}
#city{
	width:100%;
	height:15%;
}
#city-his{
  width:90%;
  height:100%;
}
#city-control{
  width:2%;
  height:100%;
}
#city-pie{
  width:8%;
  height:100%;
  background-color: steelblue;
}
#map-all{
	height:65%;
  width:100%;
  pdiing-bottom:2px;
}
#map{
  height:100%;
  width:100%;
}
#nation-map{
	height:100%;
	left:10px;
  width:50%;
}
#all-his{
  height:100%;
  width:10%;
}
#all-his-label{
  text-align: center;
  width:100%;
  height:5%;
}
#all-his-draw{
  width:100%;
  height:95%;
}
#province-map{
	height:100%;
	left:10px;
  width:40%;
}
#nation-year{
	width:100%;
	height:20%;
}
#nation-year-his{
  width:98%;
  height:100%;
}
#nation-year-control{
  width:2%;
  height:100%;
}
.states {
  fill: #CDE;
  stroke: #777;
  stroke-width: 1px;
  stroke-linejoin: round;
}
g[class~=focus-highlight]{
  fill:steelblue;
}
g[class~=his-highlight]{
  stroke:steelblue;
  animation-name: highlight-animation;
  animation-duration:1s;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
}
rect[class~=his-highlight]{
  fill:steelblue;
}
rect[class~=highlight]{
  fill:steelblue;
}
.brush .extent{
  stoke:#fff;
  fill-opacity:.125;
  shape-rendering:crispEdges;
}
@keyframes highlight-animation {
    0% {}
    50% {
      stroke-width: 5px;
    }
    100% {}
}